@*@model IEnumerable<IPLVotingSystem.Models.Questionary>*@

@{
    ViewData["Title"] = "ViewQuestionary";
 
   Layout="~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>ViewQuestionary</h1>

<form action="EditQuestionary">
       <table  class="table .table-bordered table-dark">
         <thead class="thead-dark">Questionary</thead>
            <tr><th  scope="col">Question</th><th  scope="col">Option1</th><th  scope="col">Option2</th><th  scope="col">option3</th><th  scope="col">Option4</th></tr>
            @foreach(IPLVotingSystem.Models.Questionary item in (IEnumerable<IPLVotingSystem.Models.Questionary>)ViewData["qlist"])
        {
            <tr>
                <td>@item.Question</td>
           
       @foreach(IPLVotingSystem.Models.Options op in (IEnumerable<IPLVotingSystem.Models.Options>)ViewData["olist"])
           {
               if(@item.qId==op.qId)
                    {
               <td>@op.option1</td>
               <td>@op.option2</td>
               <td>@op.option3</td>
               <td>@op.option4</td>

                    }
           } <td>  </td>
               <td>  @Html.ActionLink("Edit","EditQuestionary",new{qid=item.qId})</td>
               <td>  @Html.ActionLink("Delete","DeletQuestionary",new{qid=item.qId})</td></tr>
        }
       

</table>
</form>

